* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;

}

/* Logo */
.logo__s1 h1 {
    font-size: 30px;
    color: #a435f0;
}

/* Searchbar */
.search-bar__s2 {
    padding: 10px;
    width: 38%;
    display: flex;
    gap: 20px;
    align-items: center;

}

.search-bar__s2 input {
    width: 520px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar__s2 :hover {
    border-color: #a435f0;
}

/* Navigation Links */
.nav-links__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links__s3 a {
    text-decoration: none;
    color: black;

}

/* Logo */

.logo__s4 {
    display: flex;
    gap: 20px;
    align-items: center;

}

.button-one,
.button-three {
    color: #a435f0;
    font-weight: bolder;
    cursor: pointer;
}

.button-one:hover {
    background-color: white;
    color: #a435f0;
    border: 1px solid #a435f0;
}

.button-two {
    background-color: #a435f0;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.logo__s4 button {
    border: solid 2px #a435f0;
    padding: 10px;
    border-radius: 10px;
}

.catogories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.catogories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;

}

.catogories :hover {
    background-color: white;
    color: #a435f0;
    border: 1px solid #a435f0;
}

.sale-image img {
    width: 100%;
}

.recommanded {
    padding: 10px;
}

.recommanded__title {
    color: #a435f0;
}

.recommanded__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;


}

.course-card {
    width: 250px;
    border: solid 1px black;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.course-card .ratings {
    color: #ff9800;
    font-weight: bold;
    margin: 10px;
}

.course-card .price {
    font-size: 20px;
    color: #333;
    margin: 10px;
    font-weight: bold;
}

/* Recommended Topics Section */
.recommended-topics {
    padding: 2px;
    background-color: #f7f9fa;
    border-top: 1px solid #ddd;
    text-align: center;

}

.recommended-topics h2 {
    font-size: 25px;
    margin-bottom: 16px;
    color: #333;
}

/* Topic tags */
.topic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}

.topic-list span {
    background-color: #a435f0;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover animation for topics */
.topic-list span:hover {
    background-color: white;
    color: #a435f0;
    border: 1px solid #a435f0;

}

/* Input section */
.topic-input {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.topic-input input {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;

}


/* Hover effect */
.topic-input input:focus {
    border-color: #a435f0;
}

.topic-input button {
    background-color: #a435f0;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;

}

.topic-input button:hover {
    background-color: white;
    color: #a435f0;
    border: 1px solid #a435f0;
}

/*Popular Courses*/

.popular-courses {
    width: 100%;

}

.popular-courses h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #a435f0;
}

.courses {
    display: flex;

    width: 100%;

    gap: 20px;
    justify-content: space-evenly;

}

.course-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

}


.course-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.course-card h3 {
    font-size: 18px;
    margin: 12px;
}

.course-card .rating {
    color: #ff9800;
    font-weight: bold;
    margin: 10px;
}

.course-card .price {
    font-size: 16px;
    color: #333;
    margin: 10px;
    font-weight: bold;
}

/*Footer*/

.footer {
    background: #1c1d1f;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 200px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #d1d1d1;
    margin: 5px 0;
    font-size: 14px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    height: 35px;
}
